* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #202124;
  color: #9aa0a6;
}
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  width: 70%;
  min-width: 360px;
  max-width: 960px;
  padding: 2rem;
}
.wrapper-style {
  background-color: #28292c;
  border-radius: 1.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .10), 0 1px 3px 1px rgba(0, 0, 0, .20);
}
#user {
  width: 12rem;
  margin: 0 0 2rem;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 .5rem;
  color: #e8eaed;
}
h2 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0 0 1.5rem;
  color: #e8eaed;
}
p {
  font-size: 1.5rem;
  margin: 0 0 .5rem;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #8ab4f8;
}
.projects a {
  margin: 0 1rem;
}
.contacts a {
  margin: 0 0.5rem;
}
.contacts a span {
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.25rem;
}
.projects {
  margin: 3rem 0;
}

@media (max-width: 720px) {
  .projects a {
    display: block;
    margin: 1rem 0;
  }
  .projects span {
    display: none;
  }
}

address {
  font-style: normal;
}
#linkedin {
  width: 6rem;
  vertical-align: middle;
}
#linkedin path {
  fill: #8ab4f8;
}
#email {
  width: 2rem;
  vertical-align: middle;
}
#email path, #email line {
  fill: none;
  stroke:#8ab4f8;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
}