* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  background-color: #202124;
  color: #9aa0a6;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  min-width: 360px;
  padding: 2rem;
}
.portfolio-img {
  /* width: 100%; */
  height: auto;
  border-radius: 1.5rem;
}
#user {
  width: 12rem;
  margin: 0 0 2rem;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 .5rem;
  color: #e8eaed;
}
h2 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0 0 1.5rem;
  color: #e8eaed;
}
p {
  font-size: 1.5rem;
  margin: 0 0 .5rem;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #8ab4f8;
}
.projects {
  margin: 3rem 0;
}
.projects a {
  margin: 0 1rem;
}
.contacts {
  font-style: normal;
}
.contacts a {
  margin: 0 0.5rem;
}
.contacts a span {
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.25rem;
}
#linkedin {
  width: 6rem;
  vertical-align: middle;
}
#linkedin path {
  fill: #8ab4f8;
}
#email {
  width: 2rem;
  vertical-align: middle;
}
#email path, #email line {
  fill: none;
  stroke:#8ab4f8;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
}

@media (max-width: 640px) {
  .content-wrapper {
    transform: scale(.8);
  }
  .projects a {
    display: block;
    margin: 1rem 0;
  }
  .projects span {
    display: none;
  }
}